<!-- Modal -->
<div class="fondo-modal" [class.oculto]="modalDetalleNokService.ocultarModal">

    <div class="modal fade show animate__animated animate__bounceInDown" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block; padding-right: 17px;">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="exampleModalLabel1">Detalle de Anomalia</h4>
                    <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">

                    <div class="container" *ngFor="let item of modalDetalleNokService.registros.datos">

                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <strong>Zona</strong>
                                <br>
                                <em>{{item.a_zona_maquina}}</em>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <strong>Maquina</strong>
                                <br>
                                <em>{{item.m_maquina}}</em>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <strong>Prioridad</strong>
                                <br>
                                <em>{{item.a_prioridad}}</em>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <strong>Descripcion de Actividad</strong>
                                <br>
                                <em>{{item.a_tarea}}</em>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <strong>Descripcion de Anomalia</strong>
                                <br>
                                <em>{{item.descripcion_anomalia}}</em>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6 text-center">
                                <strong>Tipo de Anomalia</strong>
                                <br>
                                <em>{{item.s_tipo_anomalia}}</em>
                            </div>
                            <div class="col-6 text-center">
                                <strong>Clasificacion</strong>
                                <br>
                                <em>{{item.s_clasificacion_anomalia}}</em>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <strong>Categorias</strong>
                                <div *ngFor="let categoria of modalDetalleNokService.registros.categorias">
                                    <span class="badge badge-primary">{{categoria.categoria_anomalia}}</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <div class="row mb-3">
                            <div id="carouselDetalleNok" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" *ngFor="let img of modalDetalleNokService.registros.images">
                                    <div class="carousel-item active">
                                        <img src="{{base_url}}/{{img.path}}" class="d-block w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

</div>