<div class="card-body">

    <form id="loginForm" class="form-horizontal form-material text-center" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">

        <a href="javascript:void(0)" class="text-center db"><img class="img-responsive" src="../../assets/img/planta.svg" width="180" height="150" alt="Mantto App" /></a>

        <h2>Iniciar Sesion</h2>
        <hr>

        <div class="form-group m-t-40">
            <div class="col-xs-12">
                <input class="form-control" type="text" placeholder="SGI" formControlName="sgi" [class.is-invalid]="campoNoValido('sgi')">
                <small *ngIf="campoNoValido('sgi')" class="text-danger">El sgi es obligatorio y debe tener minimo 8 caracteres</small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <input class="form-control" type="password" placeholder="Password" formControlName="password" [class.is-invalid]="campoNoValido('password')">
                <small *ngIf="campoNoValido('password')" class="text-danger">La contraseña es obligatoria</small>
            </div>
        </div>

        <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
                <button [disabled]="clicked" class="btn btn-primary btn-block text-uppercase btn-rounded" type="submit">Iniciar Sesion</button>
            </div>
        </div>

    </form>

</div>