<!-- <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/mantto.jpeg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Mantto App
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="'/home'" routerLinkActive="active"> Actividades Pendientes</a>
        <a class="nav-link" routerLink="'/realizadas'" routerLinkActive="active"> Actividades Realizadas</a>
        <a class="nav-link" routerLink="'/anomalias'" routerLinkActive="active"> Anomalias Reportadas</a>
        <a class="nav-link" routerLink="'/historico'" routerLinkActive="active"> Historico de Actividades</a>
      </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Actividades Pendientes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/realizadas">Actividades Realizadas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/anomalias">Anomalias Reportadas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/historico"> Historico de Actividades</a>
        </li>
      </ul>
    </div>
</nav>