<div *ngFor="let accion of acciones" class="row mb-3 animate__animated animate__fadeIn animate__fast">
    <div class="col-12">

        <div class="card shadow p-3 bg-white rounded">

            <div class="card-body">
                <h5 class="card-subtitle mb-2"><strong>{{accion.sub_maquina}}</strong></h5>
                <h6 class="card-subtitle mb-2 text-muted"><strong>{{accion.prioridad}}</strong></h6>
                <p class="card-text"><strong>Accion: </strong>{{accion.accion}}</p>
            </div>

        </div>

    </div>
</div>

<div *ngIf="vacio == 0" class="row animate__animated animate__fadeIn animate__fast">

    <div class="col-12 text-center mt-5">
        <h4>Todavia no hay nada</h4>
        <br>
        <img class="img-fluid" src="../../../assets/img/collaborating.svg" alt="TODO Check">
        <br>
        <p>Aun no se ha agregado ninguna accion</p>
    </div>

</div>