<div *ngFor="let accion of acciones" class="row mb-3 animate__animated animate__fadeIn animate__fast">
    <div class="col-12">

        <div class="card shadow p-3 bg-white rounded">

            <div class="card-body">
                <h5 class="card-subtitle mb-2"><strong>{{accion.sub_maquina}}</strong></h5>
                <h6 class="card-subtitle mb-2 text-muted"><strong>{{accion.prioridad}}</strong></h6>
                <p class="card-text"><strong>Accion: </strong>{{accion.accion}}</p>
            </div>

        </div>

    </div>
</div>