<div *ngFor="let item of realizadas" class="row mb-3 animate__animated animate__fadeIn animate__fast">
    <div class="col-12">

        <div class="card shadow p-3 bg-white rounded">

            <div class="card-body">
                <h5 class="card-title">{{item.nombre}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.prioridad}}</h6>
                <p class="card-text">{{item.tarea}}</p>
            </div>

        </div>

    </div>
</div>

<!-- <div class="row animate__animated animate__fadeIn animate__fast">
    <div class="col-12">

        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Transportadores</h5>
                <h6 class="card-subtitle mb-2 text-muted">AS3</h6>
                <p class="card-text">Verificar la limpieza de los rodillos inferiores y superiores</p>
            </div>

        </div>

    </div>
</div> -->