<div *ngFor="let item of realizadas" class="row mb-3 animate__animated animate__fadeIn animate__fast">
    <div class="col-12">

        <div (click)="detalleRealizadas(item.folio, item.actividad, item.maquina, item.id_sub_maquina)" class="card shadow p-3 bg-white rounded">

            <div class="card-body">
                <h5 class="card-title">{{item.nombre}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.prioridad}}</h6>
                <p class="card-text">{{item.tarea}}</p>
            </div>

        </div>

    </div>
</div>

<div *ngIf="vacio == 0" class="row animate__animated animate__fadeIn animate__fast">

    <div class="col-12 text-center mt-5">
        <h4>Nada por aqui</h4>
        <img class="img-fluid" src="../../../assets/img/empty.svg" alt="TODO Check">
        <p>Aun no tienes actividades realizadas</p>
    </div>

</div>