<div *ngFor="let pendiente of pendientes" class="row animate__animated animate__fadeIn animate__fast">
    <div class="col-12">
        <div class="card">
            <!-- <img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-372453,resizemode-1,msid-76458260/small-biz/sme-sector/shape-of-your-factory-manufacturing-in-the-post-pandemic-era.jpg" class="card-img-top" loading="lazy"> -->
            <div class="card-body">
                <h3 class="card-title"> {{ pendiente.m_maquina }} </h3>
                <h5 class="card-title">Actividad {{pendiente.a_prioridad}}</h5>
                <span class="badge badge-pill badge-warning">{{pendiente.g_total_pendientes}} Actividades Pendientes</span>
                <p class="card-text">{{pendiente.a_tarea}}</p>
                <a [routerLink]="[ '/actividades', pendiente.g_folio ]" class="btn btn-block btn-primary animate__animated animate__fadeIn animate__fast">Detalles</a>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row animate__animated animate__fadeIn animate__fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Tanques</h3>
                <h5 class="card-title">Actividad AS3</h5>
                <span class="badge badge-pill badge-warning">1 Actividades Pendientes</span>
                <p class="card-text">Verificar que la unidad de mantto no tiene fugas de aire ni condensado de agua</p>
                <a [routerLink]="[ '/actividades', 456 ]" class="btn btn-block btn-primary animate__animated animate__fadeIn animate__fast">Detalles</a>
            </div>
        </div>
    </div>
</div> -->