<div class="container-fluid">

    <ng-container *ngIf="role === 'Operador'; then templateOperador; else templateResponsable"></ng-container>

    <ng-template #templateOperador>

        <div *ngFor="let pendiente of pendientes" class="row animate__animated animate__fadeIn animate__fast mb-3 mt-1">
            <div class="col-12">
                <div class="card shadow p-3 bg-white rounded">
                    <img src="{{abaddon}}/{{pendiente.path}}" class="card-img-top" loading="lazy">
                    <div class="card-body">
                        <h3 class="card-title"> {{ pendiente.m_maquina }} </h3>
                        <h5 class="card-subtitle mb-2 text-muted">Actividad {{pendiente.a_prioridad}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Folio {{pendiente.g_folio}}</h6>
                        <span class="badge badge-pill badge-warning">{{pendiente.g_total_pendientes}} Actividades Pendientes</span>
                        <p class="card-text">{{pendiente.a_tarea}}</p>
                        <a [routerLink]="[ '/actividades', pendiente.g_folio ]" class="btn btn-block btn-primary animate__animated animate__fadeIn animate__fast">Detalles</a>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>

    <ng-template #templateResponsable>

        <div *ngFor="let item of pendientes" class="row animate__animated animate__fadeIn animate__fast mb-3 mt-1">
            <div class="col-12">
                <div (click)="detalleAnomalia(item.folio, item.maquina, item.id_sub_maquina)" class="card shadow p-3 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">Zona: <strong>{{item.zona_maquina}}</strong></h5>
                        <h6 class="card-subtitle mb-3"><strong>{{item.nombre}}</strong></h6>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Actividad {{item.prioridad}}</strong></h6>
                        <h6 class="card-subtitle mb-2 text-muted">Folio {{item.folio}}</h6>
                        <p class="card-text">{{item.tarea}}</p>
                        <p class="card-text"><strong>Anomalia:</strong> {{item.descripcion_anomalia}}</p>
                        <span class="badge badge-danger">Clasificacion: {{item.clasificacion_anomalia}}</span>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>

</div>


<div *ngIf="vacio == 0" class="row animate__animated animate__fadeIn animate__fast">

    <div class="col-12 text-center mt-5">
        <h4>Todo listo por aqui</h4>
        <img class="img-fluid" src="../../../assets/img/completed.svg" alt="TODO Check">
        <p>No cuentas con actividades pendientes</p>
    </div>

</div>