<div class="row">
    <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)">
    </zxing-scanner>
</div>

<div class="row mt-3">
    <div class="col-12">
        <button *ngIf="scannerEnabled" (click)="regresar()" class="btn btn-rounded btn-block btn-outline-primary">Regresar</button>
    </div>
</div>

<div class="container animate__animated animate__fadeIn animate__fast" *ngIf="!scannerEnabled && role === 'Operador'">

    <div class="col-12" *ngFor="let item of actividad">

        <h2>Actividad <small>{{item.a_prioridad}}</small></h2>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Folio</label>
                <p>{{item.s_folio}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Tarea</label>
                <p>{{item.a_tarea}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Zona de Maquina</label>
                <p>{{item.a_zona_maquina}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Categoria</label>
                <p>{{item.a_categoria}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Jefe de Tarea</label>
                <p>{{item.a_resp_tarea}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button (click)="abrirModalOK()" id="btnOk" class="btn btn-rounded btn-block btn-success">OK</button>
                <button (click)="abrirModalNOK()" id="btnNok" class="btn btn-rounded btn-block btn-danger">NOK</button>
                <button (click)="regresar()" class="btn btn-rounded btn-block btn-outline-primary">Regresar</button>
            </div>
        </div>

    </div>


</div>

<div class="container animate__animated animate__fadeIn animate__fast" *ngIf="!scannerEnabled && role === 'Responsable'">

    <div class="col-12" *ngFor="let item of actividad">

        <h2>Actividad <small>{{item.a_prioridad}}</small></h2>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Folio</label>
                <p>{{item.s_folio}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Maquina</label>
                <p>{{item.m_maquina}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Zona de Maquina</label>
                <p>{{item.a_zona_maquina}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Descripcion de Actividad</label>
                <p>{{item.a_tarea}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Descripcion de Anomalia</label>
                <p>{{item.s_comentarios}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label class="secundarios">Tipo de Anomalia</label>
                <p>{{item.s_tipo_anomalia}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <span class="badge badge-danger mb-4">Clasificacion {{item.s_clasificacion_anomalia}}</span>
            </div>
        </div>

        <!-- <label for="">Selecciona la anomalia</label> -->
        <div class="row mb-3">
            <div class="col-12">
                <label class="secundarios">Categorias: </label>
                <div *ngFor="let categoria of categorias">
                    <span class="badge badge-primary">{{categoria.categoria_anomalia}}</span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div id="carouselResponsable" class="carousel slide" data-ride="carousel">
                    <label class="secundarios">Evidencia</label>
                    <div class="carousel-inner" *ngFor="let img of images">
                        <div class="carousel-item active">
                            <img src="{{base_url}}/{{img.path}}" class="d-block w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-4">
                <button (click)="abrirModalOK()" class="btn btn-rounded btn-block btn-success">OK</button>
                <button (click)="abrirModalAcciones()" class="btn btn-rounded btn-block btn-outline-primary">Acciones Planificadas</button>
                <button (click)="regresar()" class="btn btn-rounded btn-block btn-outline-primary">Regresar</button>
            </div>
        </div>

    </div>


</div>